* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #e5e5e5;
}

button{
  cursor: pointer;
}

.container {
  min-width: 700px;
  max-width: 1200px;
  margin: auto;
}

header {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  height: 4.6rem;
  justify-content: space-evenly;
}
header .menu-mobile{
  display: none !important;
}
header .items {
  list-style: none;
  display: flex;
  gap: 6rem;
  justify-content: center;
}
header .items a {
  text-decoration: none !important;
  color: #131212;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2rem;
  font-weight: 700;
}
header .icons {
  display: flex;
  align-items: center;
  width: auto;
  height: 2rem;
  gap: 2rem;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5rem;
}

section {
  display: flex;
  align-items: center;
}

section .informations{
  width: 31rem;
}
section .informations span {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #131212;
  font-size: 1.5rem;
  font-weight: 700;
}

section .informations h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #131212;
  font-size: 5rem;
  font-weight: 700;
  margin-top: 0.2rem;
}

section .informations .description {
  font-family: 'Arimo', sans-serif;
  color: #131212;
  opacity: 0.5;
  font-size: 1.5rem;
  font-weight: 400;
  width: 48.8rem;
  height: 6rem;
  margin-top: 1.8rem;
  letter-spacing: 0.1rem;
  line-height: 2rem;
}
section .informations a{
  display: flex;
  align-items: center;
  text-decoration: none !important;
  gap: 2rem;
}
section .informations span:last-child {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #131212;
}
section .picture{
position: absolute;
z-index: -1;
margin-left: auto;
top: 12rem;
width: 100%;
left: 0;
right: 0;
text-align: center;
}

aside {
  padding-top: 8rem;
}
aside p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #131212;
  padding-bottom: 2rem;
}

aside .sizes {
  padding-bottom: 2.5rem;
  border-spacing: 0.8rem;
}

aside .sizes button {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  background-color: #e7e3e3;
  width: 4rem;
  height: 4rem;
  transition: filter 0.2s;
  border-width: 0.1rem;
  border-color: #e4dcdc;
}

aside .colors {
  padding-bottom: 2rem;
}

aside .colors button {
  margin-left: 0.6rem;
  border-radius: 50%;
  border: none;
  width: 4rem;
  height: 4rem;
  transition: filter 0.2s;
}
aside .colors button{
  border: 2px solid transparent;
}
aside .colors button.selected{
  border: 2px solid #000;
  opacity: 0.5
}
aside .colors #brown {
  background-color: #b6a179;
}

aside .colors #black {
  background-color: #272425;
}
aside .colors #blue {
  background-color: #6389cb;
}
aside .colors #yellow {
  background-color: #f2c758;
}
aside .colors #white {
  background-color: #ffffff;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10rem;
}
footer .buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
footer .buttons div{
  display: flex;
  flex-direction: column;
}
footer button {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  border: none;
  background-color: #e5e5e5;
}

footer p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

aside .sizes button.selectButton {
  background-color: #b1b1b1;
}


/* Responsividade */

@media(max-width: 1000px){
  .container{
    display: flex;
    width: 90vw;
    flex-direction: column;
    align-items: center;
  }

  header {
    width: 90%;
    justify-content: space-between;
  }
  #menu{
    position: fixed;
    top: 90px;
    background-color: #e5e5e5;
    z-index: 1;
    height: 0;
    width: 0;
    left: -2000;
    visibility: hidden;
  }

  #menu.active{
    top: 90px;
    z-index: 1;
    height: 100%;
    width: 50%;
    left: 0;
    padding-left: 50px;
    visibility: visible;
  }
  #menu .items{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
  }
  header .menu-mobile {
    display: flex !important;
    
  }
  header .menu-mobile button{
    border: none;
    background-color: #e5e5e5;
  }
  header .menu-mobile button img{
    height: 50px;
    width: 50px;
   }
  section .picture{
    position: relative;
    z-index: 0;
    margin-left: auto;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    text-align: center;
  }
  main {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  section {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 10rem;
    padding-top: 0;
  }
}